/* 用来隐藏一些初始化前的Vue元素 */
[v-cloak] {
  display: none;
}

/* 清浮动 */
.g-clearfix:after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.';
}

/* 两端对齐 */
.g-justify-align {
  text-align: justify;
  font-size: 0;
  &::after {
    width: 100%;
    height: 0;
    margin: 0;
    display: inline-block;
    overflow: hidden;
    content: '';
  }
  & > * {
    vertical-align: top;
    display: inline-block;
  }
}

/* 单行文本，如有超出则以省略号结尾 */
.g-singleline-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
