body {
  margin: 0;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  line-height: 1;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
th,
td,
input,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

li {
  list-style-type: none;
}

img {
  border: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

body,
input,
textarea,
button,
a {
  font-family: Helvetica;
  outline: none;
  &::-moz-focus-inner {
    border: 0;
  }
}
input {
  border-radius: 0;
  appearance: none;
}
input[type='checkbox'] {
  appearance: checkbox;
}
input[type='radio'] {
  appearance: radio;
}
input[type='submit'],
input[type='button'] {
  border: none;
}
input[disabled] {
  opacity: 1;
}
input:focus,
textarea:focus,
button {
  outline: none;
}

/* 解决Chrome文本框自动填充后显示黄色背景问题 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

/* placeholder默认颜色 */
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #b4b5b6 !important;
}

/* 滚动条样式 */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
  &:hover {
    background-color: #aaa;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow: auto;
  background: rgba(0, 0, 0, 0.02);
}
