// 主背景颜色
$main-background-color: #313131;
// 模块背景颜色
$sub-background-color: #535353;
// 主页文字颜色
$main-font-color: #f0f0f0;
// 主页链接文字颜色
$main-link-font-color: #a9afff;
// 主页控件背景颜色
$main-control-bg-color: #7a7a7a;
// 主边框颜色
$main-border-color: #919191;