// 主背景颜色
$main-background-color: #313131;
// 模块背景颜色
$sub-background-color: #535353;
// 主页文字颜色
$main-font-color: #f0f0f0;
// 主页链接文字颜色
$main-link-font-color: #a9afff;
// 主页控件背景颜色
$main-control-bg-color: rgba(255, 255, 255, 0.2);
// 主页控件新增背景颜色
$main-control-add-bg-color: rgba(0, 255, 136, 0.2);
// 主页控件修改背景颜色
$main-control-edit-bg-color: rgba(0, 110, 255, 0.2);
// 主边框颜色
$main-border-color: rgba(255, 255, 255, 0.2);