<%@ Template Language="C#" TargetLanguage="Text" Src="TemplateHelper.cs" Inherits="TemplateHelper" %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="内容" Description="数据库" DeepLoad="True" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import NameSpace="SchemaExplorer" %>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace Hs.MetroSystem.DataService
{
    public class MethodCodes
    {
        <%foreach(var table in SourceDatabase.Tables){%>
        #region <%= this.GetClassName(table) %>
        public const int <%= this.GetClassName(table) %>Query = 0;
        public const int <%= this.GetClassName(table) %>Count = 0;
        public const int <%= this.GetClassName(table) %>Get = 0;
        public const int <%= this.GetClassName(table) %>SaveOrUpdate = 0;
        public const int <%= this.GetClassName(table) %>Delete = 0;
        #endregion
        
        <%}%>
    }
}
