@import "../../../styles/common.scss";

.body {
  min-height: 100%;
  .header {
    height: 40px;
    background: $sub-background-color;
    .title {
      margin: 0 20px;
      display: inline-block;
      height: 100%;
      line-height: 40px;
      font-size: 24px;
    }
  }
  .item {
    margin: 20px;
    border-radius: 10px;
    background: $sub-background-color;
    overflow: hidden;
  }
}
