$background-color: rgba(255, 255, 255, 0.75);
$background-color2: rgba(0, 140, 255, 0.75);
//文章列表选中背景色
$background-color3: rgba(255, 255, 255, 0.5);
//文章类型选中背景色
$background-color4: rgba(255, 255, 255, 0.3);
$background-color5: #ccc;

$font-color1: rgb(112, 112, 112);
$font-color2: rgb(63, 63, 63);
$font-color3: rgb(0, 140, 255);
$font-color3-hover: rgb(87, 179, 255);
$font-color4: rgb(255, 255, 255);
$font-color4-hover: rgb(199, 230, 255);

$border-color1: rgb(148, 207, 255);
$border-color2: rgb(207, 207, 207);
$border-color3: rgb(78, 175, 255);
