.backgroundImage {
  background-color: #f5f6f7;
  background: url('../../static/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
