.homePage {
  width: 100%;
  background-color: #f5f6f7;
  .header {
    display: flex;
    border-top: 2px solid #008cff;
    background-color: white;
    box-shadow: 0 0 1px rgb(161, 161, 161);
    .empty {
      flex: 1;
    }
    .emptyRight {
      flex: 1;
      background-color: #008cff;
    }
    .content {
      flex: 100000;
      height: 30px;
      max-width: 1260px;
      overflow: hidden;
      .logo {
        display: inline-block;
      }
      .right {
        position: relative;
        float: right;
        background-color: #008cff;
        padding: 0 20px;
        color: white;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        .triangle {
          position: absolute;
          width: 0;
          height: 0;
          border-top: 30px solid #008cff;
          border-left: 30px solid transparent;
          left: -30px;
        }
        .icon {
          margin-right: 5px;
        }
      }
    }
  }
  .main {
    display: flex;
    .empty {
      flex: 1;
    }
    .content {
      flex: 100000;
      display: flex;
      flex-flow: row;
      max-width: 1260px;
      // margin: 0 auto;
      padding: 10px 0;
      .left {
        background-color: white;
        width: 260px;
        height: 100px;
        box-shadow: 0 0 1px rgb(161, 161, 161);
        // border-radius: 5px;
        margin-right: 10px;
      }
      .right {
        flex: 1;
        background-color: white;
        box-shadow: 0 0 1px rgb(161, 161, 161);
        // border-radius: 5px;
      }
    }
  }
  .footer {
    box-shadow: 0 0 1px rgb(161, 161, 161);
    background-color: white;
    padding: 3px 0;
    text-align: center;
  }
}
